html,body {
	height:100%;
	padding:0;
	margin:0;
}

#main_bar {
	background:#4E015C;
	margin:0px;
}
	
.panel {
	background:#BBBBBB;
	color:#FFFFFF;
	float:left;
	width:13vW;
	height:50px;
	margin:0.1vW;
	padding:0px;
}

.filter-added {
	background-color:#FFFFFF;
	color:#000000;
}

.navbar .nav > li > a {
	color:  #FFFFFF;
}

.navbar .nav  > li > a:hover {
	color: #FFDE6D;
}

#home_link {
	color:  #FFFFFF;
}

#home_link:hover {
	color:  #FFDE6D;
}

#filters {
	overflow-y:scroll;
	width:15vW;
	height: 90%;
	background:#E0E0E0;
	padding:0.2vW;
	float:left;
	
	height: -moz-calc(100% - 60px);
	height: -webkit-calc(100% - 60px);
	height: calc(100% - 60px);
}

#discoveries {
	overflow-y:scroll;
	width:84vW;
	padding:0px;
	float:left;
	
	height: -moz-calc(100% - 60px);
	height: -webkit-calc(100% - 60px);
	height: calc(100% - 60px);
}

.modalFrame {
	position:fixed;
	left:5%;
	top:5%;
	width:90%;
	height:90%;
	border:0px;
}

.ratingstars {
	float: right;
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
	color: gold;
}

.discovery {
	width:20.4vw;
	height:12vw;
	float:left;
	
	margin:0.1vw;

	background-size: 100%;
	
	overflow-x:hidden;
	overflow-y:hidden;
	
	cursor: pointer;
	cursor: hand;
}

.description {
	background-color:rgba(0,0,0,0.5);
	position:relative;
	color:#FFFFFF;
	
	top: -moz-calc(100% - 34px);
	top: -webkit-calc(100% - 34px);
	top: calc(100% - 34px);

	padding:0.5vw;
	width:20.5vw;
	height:12vw;
	
	transition-property:top;
	-moz-transition-property: top; /* Firefox 4 */
	-webkit-transition-property:top; /* Safari and Chrome */
	-o-transition-property:top; /* Opera */
	
	transition-duration: 500ms;
}

.discovery:hover .description {
	top:0px;
}